
    .navbar-nav {
        flex-direction: row !important 
    }

    .nav-link {
        margin-left: 1rem;
        font-size: .75rem
    }

    .bg-light {
        background-color: #6DCEF440!important;
    }