/* chat styles */

.rcw-header, .rcw-close-button, .rcw-client, .rcw-launcher {
  background: #6bccf3 !important;
  color: white !important;
  z-index: 100 !important;
}

.rcw-avatar {
  height: 50px !important;
  width: 50px !important;
}